* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
body,
html {
    font-family: 'Kdam Thmor Pro', sans-serif;
    background-image: url(../assets/img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

:root {
    --font-color: #3a3939;
    --color-border: rgb(15, 75, 7);
    --background-color: #cccce959;
    --btn-color: #41419e;
}

p {
    color: #101016;
    font-weight: 400;
}

h1 {
    font-size: 5vw;
    font-weight: 700;
    margin-top: 1rem;
    margin-right: 5rem;
    text-shadow: 2px 2px 0 #2D2C70, 4px 4px 0 #9c9c9c;
}

.container,
.form-validation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.form-validation {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 5rem;
    padding: 2.5rem 1rem;
    background: #cccce986;
    -webkit-box-shadow: 5px 5px 15px 5px #2D2C70;
    box-shadow: 5px 5px 15px 5px #2D2C70;
}

label {
    font-size: 1.5rem;
    margin: 1rem 2.5rem;
    text-align: left;
}

input,
select {
    color: #101016;
    display: block;
    margin: 0.5rem 1rem;
    padding: 0.8rem;
    border-radius: 1rem;
    border: none;
    width: 90%;
}

input::placeholder {
    color: #41419e;
    cursor: pointer;
    font-size: 1rem;
}

.data-card {
    margin-bottom: 2rem;
    margin-left: 1rem;
}

.flexbox {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    text-align: center;
    align-items: center;
    margin: 0.5rem;
}

.btn-send {
    display: flex;
    background: #41419e;
    -webkit-box-shadow: 2px 2px 7px 2px #2D2C70;
    box-shadow: 2px 2px 7px 2px #2D2C70;
    cursor: pointer;
    border: none;
    justify-items: center;
    margin: auto;
    font-size: 1.5rem;
    padding: 0.5rem 4rem;
    border-radius: 1rem;
}

.btn-send:hover {
    background: rgba(15, 75, 7, 0.473);
    transform: scale(1.2);
    transition: 1s;
}

.footer {
    margin-top: 2.5rem;
    background: #cccce959;
}

.terms>p {
    margin: 0.5rem;
}

.box__footer {
    display: flex;
    justify-content: space-between;
}

.icon-footer {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    margin: 0.5rem;
    padding: 1rem;
    font-size: 2.5rem;
    gap: 2rem;
}

.fa-facebook {
    color: #41419e;
}
